<%= render FerryWeb.StockView, "search-guidance.partial.html" %>

<table id="inventory-list" class="table table-striped">
  <thead>
    <tr>
      <th>Group</th>
      <th>Category</th>
      <th>Item</th>
      <th>Need</th>
      <th>Units</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Size</th>
      <th>Season</th>
    </tr>
  </thead>

  <tbody>
    <%= for stock <- @needs do %>
      <tr>
        <td>
          <%= component "group_logo_link.partial.html", %{
            conn: @conn,
            group: stock.project.group,
            project: stock.project,
            direction: :right
          } %>
        </td>
        <td><%= stock.item.category.name %></td>
        <td><%= stock.item.name %></td>
        <td><%= stock.need %></td>
        <td><%= stock.unit %></td>
        <td><%= stock.mod.age %></td>
        <td><%= FerryWeb.InventoryListView.print_gender(stock.mod.gender) %></td>
        <td><%= stock.mod.size %></td>
        <td><%= stock.mod.season %></td>
      </tr>
    <% end %>
  </tbody>
</table>
