<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= component "required.partial.html" %>

  <%= if @changeset.action do %>
    <div class="toast toast-error">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= if assigns[:create?] do %>
    <div class="form-group form-group--required <%= validation_status_class(f, :group_id) %>">
      <%= label f, :group_id, "Group" %>
      <%= select f, :group_id, select_group_options(@groups, @shipment.roles), class: "form-select select2--role-group" %>
      <%= error_tag f, :group_id %>
    </div>
  <% else %>
    <div class="form-group flex-centered--col">
      <%= component "group_logo.partial.html", %{
        conn: @conn,
        group: @role.group,
        size: :xl
      } %>
      <strong><%= @role.group.name %></strong>
    </div>
  <% end %>

  <div class="form-group <%= validation_status_class(f, :role) %>">
    <div class="col-9 col-ml-auto">
      <p>
        Check all the roles that describe your contribution to the shipment!  You can use the role description to provide more information, especially if you check "Other".
      </p>
      <p class="text-bold">
        Roles
      </p>
    </div>
    <%= error_tag f, :role %>
  </div>

  <div class="form-group <%= validation_status_class(f, :supplier?) %>">
    <%= label f, :organizer?, class: "form-checkbox" do %>
      <%= checkbox f, :organizer? %>
      <i class="form-icon fas fa-check"></i>
      Organizer
    <% end %>
    <%= error_tag f, :organizer? %>
    <p class="form-input-desc">You are the primary point of contact for the shipment, and/or are doing administrative work to put it together.  Other groups who wish to contribute to the shipment should reach out to you to get involved.</p>
  </div>

  <div class="form-group <%= validation_status_class(f, :supplier?) %>">
    <%= label f, :supplier?, class: "form-checkbox" do %>
      <%= checkbox f, :supplier? %>
      <i class="form-icon fas fa-check"></i>
      Supplier
    <% end %>
    <%= error_tag f, :supplier? %>
    <p class="form-input-desc">You are adding aid that you've collected to the shipment.  Your available inventory will show up in the list of "Available Aid" on the main shipment page, so that receiving groups can ask for specific items.</p>
  </div>

  <div class="form-group <%= validation_status_class(f, :receiver?) %>">
    <%= label f, :receiver?, class: "form-checkbox" do %>
      <%= checkbox f, :receiver? %>
      <i class="form-icon fas fa-check"></i>
      Receiver
    <% end %>
    <%= error_tag f, :receiver? %>
    <p class="form-input-desc">You are receiving some or all of the aid on the shipment, to distribute in the field.  Your needs list will show up in the list of "Needed Aid" on the main shipment page, so that supplying groups know what to include.</p>
  </div>

  <div class="form-group <%= validation_status_class(f, :supplier?) %>">
    <%= label f, :funder?, class: "form-checkbox" do %>
      <%= checkbox f, :funder? %>
      <i class="form-icon fas fa-check"></i>
      Organizer
    <% end %>
    <%= error_tag f, :funder? %>
    <p class="form-input-desc">You are contributing funds to cover part or all of the costs related to the shipment.</p>
  </div>

  <div class="form-group <%= validation_status_class(f, :supplier?) %>">
    <%= label f, :other?, class: "form-checkbox" do %>
      <%= checkbox f, :other? %>
      <i class="form-icon fas fa-check"></i>
      Other
    <% end %>
    <%= error_tag f, :other? %>
    <p class="form-input-desc">You are doing something else not described by the default roles!  You can use the role description to provide more information about your contribution.</p>
  </div>

  <div class="form-group <%= validation_status_class(f, :description) %>">
    <%= label f, :description %>
    <%= textarea f, :description, class: "form-input", placeholder: "Include other details about your role in the shipment..." %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group col-9 col-ml-auto">
    <%= submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
