<%= form_for @changeset, @action, [class: "form-horizontal"], fn f -> %>
  <%= component "required.partial.html" %>

  <%= if @changeset.action do %>
    <div class="toast toast-error">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
    <div class="form-group has-error">
      <%= error_tag f, :login %>
    </div>
  <% end %>

  <div class="form-group form-group--required <%= validation_status_class(f, :email) %>">
    <%= label f, :email %>
    <%= text_input f, :email, class: "form-input", placeholder: "you@example.org" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group form-group--required <%= validation_status_class(f, :password) %>">
    <%= label f, :password %>
    <%= password_input f, :password, class: "form-input", placeholder: "A secret!" %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group col-9 col-ml-auto">
    <%= submit "Submit", class: "btn btn-lg btn-primary" %>
  </div>

<% end %>
